.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}

// Bg home
.bg-home {
    position: relative;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6,18,30,0.1), #06121e), url("../assets/bg1.jfif");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}

// Hero
.hero {
    color: $white-normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 40px;
    }
}

.button-contact {
    padding: 14px 28px;
    color: $white-normal;
    background-color: $red-normal;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    margin: 14px 0;
}

// Animação button
.button-contact:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.09);
    }
}

@media screen and (max-width: 768px) {
    .hero {
        min-height: 60vh;

        h1 {
            font-size: 30px;
            padding: 0 14px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 480px) {
    .hero h1{
        font-size: 24px;
    }
}

// About
.about {
    background-color: $primary-normal;
    overflow: hidden;
    color: $white-normal;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 80px 15px 60px 15px;

    img {
        max-width: 570px;
    }
}

.about-content div {
    flex: 1;
}

.about-description {
    h2 {
        font-size: 35px;
        margin-bottom: 25px;
    }

    p {
        margin-bottom: 15px;
        line-height: 150%;
    }
}

@media screen and (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }
}



